global
    maxconn 4096

defaults
    mode    http
    timeout connect 5000
    timeout client  50000
    timeout server  50000

listen http-in
    bind *:80
    server backend1 172.1.0.2:5000
    server backend2 172.1.0.3:5000
    server backend3 172.1.0.4:5000
    