version: '2'

services: 
    consul1:
        container_name: consul1
        image: consulubuntu:latest
        command: consul agent -config-dir=/consul/config
        ports: 
            - "53:8600/udp"
            - "8500:8500/tcp"
        volumes:
            - c:/dev/docker/consul/volume/config1:/consul/config
        networks: 
             consul-net1:
                ipv4_address: 172.1.0.2

    consul2:
        container_name: consul2
        image: consulubuntu:latest
        command: consul agent -config-dir=/consul/config
        volumes:
            - c:/dev/docker/consul/volume/config2:/consul/config
        networks: 
                consul-net1:
                    ipv4_address: 172.1.0.3

    consul3:
        container_name: consul3
        image: consulubuntu:latest
        command: consul agent -config-dir=/consul/config
        volumes:
            - c:/dev/docker/consul/volume/config3:/consul/config
        networks: 
                consul-net1:
                    ipv4_address: 172.1.0.4

networks: 
    consul-net1:
        driver: bridge
        ipam:
            driver: default
            config:
              - subnet: 172.1.0.0/24
                gateway: 172.1.0.1
                
                   
            